<div class="flex-row">
    <div class="input-group search-bar rounded">
          <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
            aria-describedby="search-addon" />
          <button type="button" class="btn btn-primary">
                <span class="material-icons">
                    search
                </span>
          </button>
    </div>
</div>

{% if game_list %}
    <div class="games-col__games-container">
        <div class="card-grid">
            {% for game in page_obj %}
            <div class="card-grid-item">
                <div class="card">
                    <img src={{ game.img_url }} class="card__image" alt="game icon">
                    <div class="card__card-body">
                        <h5 class="card-title">{{ game.name }}</h5>
                        <p class="card-text">{{ game.genres|join:' ' }}</p>
                        <div class="btn-group card-btn-group" role="group" aria-label="First group">
                            <a href="{% url 'detail' game.game_id %}" type="button" class="card-btn-group__btn btn btn-outline-secondary">Open</a>
                            <a type="button" class="card-btn-group__btn btn btn-outline-secondary
                                {% if user.is_authenticated %} "
                                {% else %}
                                    disabled" aria-disabled="true"
                                {% endif %}

                                {% if game.game_id in favorite_game_list %}
                                    href="{% url 'remove_from_favorite' game.game_id %}">
                                    Remove
                                {% else %}
                                    href="{% url 'add_to_favorite' game.game_id %}">
                                    Must
                                {% endif %}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    {% include 'gameMuster/pagination.html' %}

{% endif %}