{% extends 'gameMuster/base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'gameMuster/css/detail.css' %}">
{% endblock styles %}

{% block content %}

<div class="container detail-container">
    <div class="row">
        <div class="col-6 col-of-game-info">
            <div>
                <h1 class="game-name__title">{{ game.name }}
                    {% if game.must %}
                        <div class="badge">Must</div>
                    {% endif %}
                </h1>
            </div>

            <div class="game-genres">
                {% for genre in game.genres %}
                    <h6>{{ genre }}</h6>
                {% endfor %}
            </div>

            <div>
                <h3>Description</h3>
                <p>{{ game.description }}</p>
            </div>

            <div>
                <h3>Release Date</h3>
                {% if game.release_date != 'no release date' %}
                    <p>{{ game.release_date|date:'M Y' }}</p>
                {% else %}
                    <p>{{ game.release_date }}</p>
                {% endif %}
            </div>

            <div>
                <h3>Screenshots</h3>

                <div class="screenshot-grid">
                    {% for screenshot in game.screenshots %}
                        <div class="screenshot-grid-item">
                            <img class="screenshot-img" src="{{ screenshot }}">
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-3 col-of-game-info">

            <div class="rating-container">
                <h3>Rating</h3>
                <div class="badge rating user">
                    <div class="row rating-reviews-container">
                        <div class="col-5">
                            <p class="rating-text">Users</p>
                        </div>
                        <div class="col-7">
                            <p class="rating-text">{{ game.user_rating }} ({{ game.user_rating_count }} reviews)</p>
                        </div>
                    </div>
                </div>

                <div class="badge rating critics">
                    <div class="row rating-reviews-container">
                        <div class="col-5">
                            <p class="rating-text">Critics</p>
                        </div>
                        <div class="col-7">
                            <p class="rating-text">{{ game.critics_rating }} ({{ game.critics_rating_count }} reviews)</p>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <h3>Genres</h3>
                {% for genre in game.genres %}
                    <div class="badge basic ">{{ genre }}</div>
                {% endfor %}
            </div>

            <div>
                <h3>Platform</h3>
                {% for platform in game.platforms %}
                <div class="badge basic">{{ platform }}</div>
                {% endfor %}
            </div>
        </div>

        <div class="col-3 social-media-content-container">
            <h3>#{{ game_name }} Tweets</h3>
            {% for tweet in tweet_list %}
                <div class="text-background-rectangle">
                    <p>{{ tweet.content }}</p>
                    <div class="row">
                        <div class="col-5"><p>@{{ tweet.user }}</p></div>
                        <div class="col-7"><p>{{ tweet.date|date:'M Y' }}</p></div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}