{% extends 'gameMuster/nav.html' %}
{% load static %}

{% block content %}

<div class="container">
      <div class="row nowrap">
          <div class="col-lg-3 side-bar p-3">
                  <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                    <span class="fs-5 fw-semibold">Filters</span>
                  </a>
                  <ul class="list-unstyled ps-0">
                        <li class="mb-4">
                            <label for="customRange3" class="form-label">Platform</label>
                            <div>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="platform1" value="pc">
                                  <label class="form-check-label" for="platform1">PC</label>

                                </div>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="platform2" value="ps4">
                                  <label class="form-check-label" for="platform2">PS4</label>
                                </div>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="platform3" value="ps5" disabled>
                                  <label class="form-check-label" for="platform3">PS5</label>
                                </div>
                            </div>
                        </li>

                        <li class="mb-4">
                            <label for="customRange3" class="form-label">Generes</label>
                            <div>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="gener1" value="platformer">
                                  <label class="form-check-label" for="gener1">Platformer</label>
                                </div>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="gener2" value="arcade" disabled>
                                  <label class="form-check-label" for="gener2">Arcade</label>
                                </div>
                            </div>
                        </li>

                        <li class="mb-4">
                            <label for="customRange3" class="form-label">User Rating</label>
                            <input type="range" class="form-range" min="0" max="5" step="0.5" id="customRange3">
                        </li>

                        <li>
                            <button type="button" class="btn btn-primary">Apply</button>
                        </li>
                  </ul>
            </div>

            <div class="col-lg-1">
                <button type="button" class="btn btn-menu">
                    <span class="material-icons">menu</span>
                </button>
            </div>

            <div class="col-lg-8">
                <div class="flex-row">
                    <div class="input-group search-bar rounded">
                          <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                            aria-describedby="search-addon" />
                          <button type="button" class="btn btn-primary">
                                <span class="material-icons">
                                    search
                                </span>
                          </button>
                    </div>
                </div>
                <div class="flex-row p-4">
                    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                      <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                      </div>
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <div class="carousel-item-container">
                              <div class="row row-of-game-cards">
                                  <div class="col col-of-game-cards">
                                    <div class="card game-card">
                                        <img src="https://i1.sndcdn.com/avatars-000527330727-10g55j-t240x240.jpg" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">PACMAN</h5>
                                            <p class="card-text">Arcade oldschool</p>
                                            <div class="btn-group img-btn-group" role="group" aria-label="First group">
                                                <button type="button" class="btn btn-outline-secondary">Open</button>
                                                <button type="button" class="btn btn-outline-secondary">Must</button>
                                              </div>
                                        </div>
                                    </div>
                                  </div>
                                  <div class="col col-of-game-cards">
                                    <div class="card game-card">
                                        <img src="https://i1.sndcdn.com/avatars-000527330727-10g55j-t240x240.jpg" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">PACMAN</h5>
                                            <p class="card-text">Arcade oldschool</p>
                                            <div class="btn-group img-btn-group" role="group" aria-label="First group">
                                                <button type="button" class="btn btn-outline-secondary">Open</button>
                                                <button type="button" class="btn btn-outline-secondary">Must</button>
                                              </div>
                                        </div>
                                    </div>
                                  </div>
                                <div class="col col-of-game-cards">
                                    <div class="card game-card">
                                        <img src="https://i1.sndcdn.com/avatars-000527330727-10g55j-t240x240.jpg" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">PACMAN</h5>
                                            <p class="card-text">Arcade oldschool</p>
                                            <div class="btn-group img-btn-group" role="group" aria-label="First group">
                                                <button type="button" class="btn btn-outline-secondary">Open</button>
                                                <button type="button" class="btn btn-outline-secondary">Must</button>
                                              </div>
                                        </div>
                                    </div>
                                  </div>
                              </div>
                          </div>
                        </div>
                      </div>
                      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                    </div>
                </div>
      </div>
</div>

{% endblock %}
