{% extends 'gameMuster/base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'gameMuster/css/index.css' %}">
{% endblock styles %}

{% block content %}

<div class="container index-container">
      <div class="row row_height_100vh">
          <div class="col-lg-2 side-bar p-3" id="sidebar">
                  <a href="#" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                    <span class="fs-5 fw-semibold">Filters</span>
                  </a>
                  <ul class="list-unstyled ps-0">
                      <form action="{% url 'index' %}" method="get">
                        <li class="mb-4">
                            <label for="customRange3" class="form-label">Platform</label>
                            <div>
                                {% for platform in platforms %}
                                    <div class="form-check form-check-inline">
                                        {% if platform.id in platforms_chosen %}
                                            <input class="form-check-input" type="checkbox" name="platforms" id="platform_{{ platform.id }}" value="{{ platform.id }}" checked>
                                        {% else %}
                                            <input class="form-check-input" type="checkbox" name="platforms" id="platform_{{ platform.id }}" value="{{ platform.id }}">
                                        {% endif %}
                                      <label class="form-check-label" for="platform_{{ platform.id }}">{{ platform.name }}</label>
                                    </div>
                                {% endfor %}
                            </div>
                        </li>

                        <li class="mb-4">
                            <label for="customRange3" class="form-label">Genres</label>
                            <div>
                                {% for genre in genres %}
                                    <div class="form-check form-check-inline">
                                        {% if genre.id in genres_chosen %}
                                            <input class="form-check-input" type="checkbox" name="genres" id="genre_{{ genre.id }}" value="{{ genre.id }}" checked>
                                        {% else %}
                                            <input class="form-check-input" type="checkbox" name="genres" id="genre_{{ genre.id }}" value="{{ genre.id }}">
                                        {% endif %}
                                      <label class="form-check-label" for="genre_{{ genre.id }}">{{ genre.name }}</label>
                                    </div>
                                {% endfor %}
                            </div>
                        </li>

                        <li class="mb-4">
                            <label for="customRange3" class="form-label">User Rating</label>
                            <input type="range" class="form-range" value="{{ rating }}" name="rating" min="0" max="100" step="5" id="customRange3">
                        </li>

                        <li>
                            <button type="submit" class="btn side-bar__btn-apply btn-primary">Apply</button>
                        </li>
                      </form>
                  </ul>
            </div>

            <div class="col-lg-1">
                <button type="button" class="btn btn-menu" onclick="get_sidebar()">
                    <span class="material-icons">menu</span>
                </button>
            </div>

            <div class="col-lg-9 games-col">
                <div class="flex-row">
                    <div class="input-group search-bar rounded">
                          <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                            aria-describedby="search-addon" />
                          <button type="button" class="btn btn-primary">
                                <span class="material-icons">
                                    search
                                </span>
                          </button>
                    </div>
                </div>

                {% if game_list %}
                    <div class="games-col__games-container">
                        <div class="card-grid">
                            {% for game in page_obj %}
                            <div class="card-grid-item">
                                <div class="card">
                                    <img src={{ game.img_url }} class="card__image" alt="game icon">
                                    <div class="card__card-body">
                                        <h5 class="card-title">{{ game.name }}</h5>
                                        <p class="card-text">{{ game.genres_str }}</p>
                                        <div class="btn-group card-btn-group" role="group" aria-label="First group">
                                            <a href="{% url 'detail' game.game_id %}" type="button" class="card-btn-group__btn btn btn-outline-secondary">Open</a>
                                            <a type="button" class="card-btn-group__btn btn btn-outline-secondary">Must</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    {% include 'gameMuster/pagination.html' %}

                {% endif %}

            </div>
      </div>
</div>

{% endblock %}
