{% extends 'gameMuster/base.html' %}
{% load static %}

{% block content %}

<div class="container index-container">
      <div class="row row_height_100vh">
          <div class="col-lg-3 side-bar p-3" id="sidebar">
                  <a href="#" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                    <span class="fs-5 fw-semibold">Filters</span>
                  </a>
                  <ul class="list-unstyled ps-0">
                        <li class="mb-4">
                            <label for="customRange3" class="form-label">Platform</label>
                            <div>
                                {% for platform in platforms_available %}
                                    <div class="form-check form-check-inline">
                                      <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="platform_{{ platform }}" value="{{ platform }}">
                                      <label class="form-check-label" for="platform_{{ platform }}">{{ platform }}</label>
                                    </div>
                                {% endfor %}

                                {% for platform in platforms_not_available %}
                                    <div class="form-check form-check-inline">
                                      <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="platform_{{ platform }}" value="{{ platform }}" disabled>
                                      <label class="form-check-label" for="platform_{{ platform }}">{{ platform }}</label>
                                    </div>
                                {% endfor %}
                            </div>
                        </li>

                        <li class="mb-4">
                            <label for="customRange3" class="form-label">Genres</label>
                            <div>
                                {% for genre in genres_available %}
                                    <div class="form-check form-check-inline">
                                      <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="genre_{{ genre }}" value="{{ genre }}">
                                      <label class="form-check-label" for="genre_{{ genre }}">{{ genre }}</label>
                                    </div>
                                {% endfor %}

                                {% for genre in genres_not_available %}
                                    <div class="form-check form-check-inline">
                                      <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="genre_{{ genre }}" value="{{ genre }}" disabled>
                                      <label class="form-check-label" for="genre_{{ genre }}">{{ genre }}</label>
                                    </div>
                                {% endfor %}
                            </div>
                        </li>

                        <li class="mb-4">
                            <label for="customRange3" class="form-label">User Rating</label>
                            <input type="range" class="form-range" min="0" max="5" step="0.5" id="customRange3">
                        </li>

                        <li>
                            <button type="button" class="btn side-bar__btn-apply btn-primary">Apply</button>
                        </li>
                  </ul>
            </div>

            <div class="col-lg-1">
                <button type="button" class="btn btn-menu" onclick="get_sidebar()">
                    <span class="material-icons">menu</span>
                </button>
            </div>

            <div class="col-lg-8 games-col">
                <div class="flex-row">
                    <div class="input-group search-bar rounded">
                          <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                            aria-describedby="search-addon" />
                          <button type="button" class="btn btn-primary">
                                <span class="material-icons">
                                    search
                                </span>
                          </button>
                    </div>
                </div>

                {% if game_list %}
                    <div class="games-col__games-container">
                        <div class="card-grid">
                            {% for game in page_obj %}
                            <div class="card-grid-item">
                                <div class="card">
                                    <img src={{ game.img_url }} class="card-img-top" alt="game icon">
                                    <div class="card__card-body">
                                        <h5 class="card-title">{{ game.name }}</h5>
                                        <p class="card-text">{{ game.genres }}</p>
                                        <div class="btn-group card-btn-group" role="group" aria-label="First group">
                                            <a href="{% url 'detail' game.id %}" type="button" class="card-btn-group__btn btn btn-outline-secondary">Open</a>
                                            <a type="button" class="card-btn-group__btn btn btn-outline-secondary">Must</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="pagination card_pagination">
                        <span class="card_pagination__step-links">
                            {% for num_of_page in page_obj.paginator.page_range %}
                                {% if num_of_page == page_obj.number %}
                                    <a class="page-number-link page-number-link_font-size_30" href="?page={{ num_of_page }}">{{ num_of_page }}</a>
                                {% else %}
                                    <a class="page-number-link" href="?page={{ num_of_page }}">{{ num_of_page }}</a>
                                {% endif %}
                            {% endfor %}
                        </span>
                    </div>
                {% endif %}

            </div>
      </div>
</div>

{% endblock %}
