main {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}
main > * {
  flex-shrink: 0;
}

.navbar {
    background-color: #efeed1;
}

.row {
    flex-wrap: wrap;
    height: 100vh;
}

/* Removing row wrapping */
.nowrap {
    flex-wrap: nowrap;
}

.side-bar {
    display: none;
    width: 20%;
    background-color: #efbc9e;
    transition: width 1200ms ease;
}

.btn-apply {
    margin-left: 95px;
}

.btn-menu {
    margin-left: 5px;
    margin-top: 15px;
    background-color: #efbc9e;
    border: none;
}

.material-icons {
    line-height: normal;
}

.container {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.games-list {
    margin-left: auto;
    margin-right: auto;
}

.search-bar {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 20px;
    margin-top: 20px;
}

.row-of-game-cards {
    margin-left: 20px;
    width: 900px;
}

.gamescarousel {
    margin-top: 60px;
}

.carousel-item.active, .carousel-item, .row-of-game-cards {
    width: 800px;
}

.card-body {
    background-color: #cac891;
    bottom: 0;
}

.card-body > * {
    color: #333217;
}
.game-card {
    height: 200px;
    width: 200px;
}

/* Buttons which are inside of image card description */
.img-btn-group > .btn {
    color: #333217;
    border-color: #333217;
}

.btn-group > .btn {
    margin: 0;
}

.carousel {
    background-color: #cccbbf;
}

.carousel-item {
    width:730px;
    height:500px;
    overflow:hidden;
}

.col-of-game-cards {
    width: 300px;
    margin-top: 70px;
    padding-left: 65px;
    padding-right: 0;
}


.scrollarea {
  overflow-y: auto;
}

.fw-semibold { font-weight: 600; }
.lh-tight { line-height: 1.25; }
